header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px;
  width: 100%;
  position: fixed;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: black 1px solid;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: mediumaquamarine;
  padding: 0 30px;
}
.logo img {
  margin: auto 25px;
}
header nav {
  padding-right: 50px;
}
header nav span {
  display: inline-block;
  padding: 10px 10px;
  color: black;
}
body {
  margin: 0;
}
