body {
  margin: 0;
}
/*** Header ***/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px;
  width: 100%;
  position: fixed;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: black 1px solid;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: mediumaquamarine;
  padding: 0 30px;
}
.logo img {
  margin: auto 25px;
}
header nav {
  padding-right: 50px;
}
header nav span, a {
  display: inline-block;
  padding: 10px 10px;
  color: black;
}
/***Main Content Area***/
.column {
  border: black 1px dot;
  display: flex;
  flex-direction: column;
}
.column.large {
  width: 630px;
}
.column.medium {
  width: 300px
}
.column.small {
  width: 240px;
}
.content {
  border: red 2px solid;
  display: flex;
  padding-top: 116px;
}
.feature {
  border: green 2px solid;
  padding: 15px 0;
}
.article {
  border: blue 2px solid;
  padding: 15px 0;
}
.overlay {
  border: purple 2px dashed;
}
.trending {
  border: purple 2px solid;
}
.trending img {
  padding: 16px;
}
.teaser {
  display: block;
  padding: 16px auto;
}
